/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}
.card-style-3 {
    width: 350px;
    align-items: center;
    justify-content: space-between;
    border: 15px solid goldenrod;
    margin: 15px;
    padding: 20px;
    background: yellow;
    border-radius: 10px;
}
#pokemon-card-1 {
    background: linear-gradient(to bottom right, yellow, orange, purple);
}
.card-style-3 img {
    width: 100% ;
    border: 7px solid goldenrod;
}
.pokemon-header {
    display: flex;
    justify-content: space-between;
}
.details {
    text-align: center;
    background: linear-gradient(to bottom right, yellow, orange, yellow);;
}
.decription {
    margin: 30%;
}
.attack {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}
.data{
    text-align: center;
}
.power {
    font-size: 20px;
    
}
.bold {
    font-weight: bold;
}