* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: lightgray;
}
#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    align-items: center;
}
#navbar a {
    text-decoration: none; 
    color: rgb(249, 169, 182);
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
}
#navbar #logo img {
    width: 150px;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}
#hero {
    background-image: url(../images/mushroom-wrap.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom right;
    display: flex;
    align-items: center;
}
#hero h1 {
    background-color: #c7d10add;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    font-size: 45px;
}
#hero p {
    margin: 10px 0px 20px;
}
.hero content{
    color: rgb(49, 160, 24);
}

#hero .container {
    color: rgb(248, 243, 236);
}
#hero .btn{
    display: inline-block;
    border: 2px solid rgb(25, 95, 27);
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    color: grey;
}
#header {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    border: 5px solid  rgb(213, 136, 35);
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}
.item {
   grid-column-start: 1; 
   grid-column-end: 3;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    color: rgb(255, 253, 251);
}
.ten-cards {
    display: flex;
}
.a {
    color: black;
}
.card {
    background-color:#129012 ;
    border: 2px solid #c7d10add;
    color: rgb(77, 54, 75);
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0px rgb(249, 178, 190);
    flex: 1;
}
.card p {
    font-size: 18px;
}
.ten-cards {
    margin-top: 48px;
}
#footer {
    background: linear-gradient(to bottom, green,#3e6d3e);
    color: lightgreen;
    padding: 12px;
}
#footer a {
    text-decoration: none;
    color:rgb(249, 169, 182);
}
#footer-navbar {
    width: 850px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar {
    width: 850px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}