* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-column {
    display: flex;
}
#sidebar {
    background-color: burlywood;
    width: 250px;
    padding: 24px;
    border-right: 5px solid brown;
}